@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.05);
    z-index: 100;
}

#main{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*Parte redes sociales*/
.redes-sociales{
    height: 40px;
    border: 1px solid rgb(0,0,0,0.05);
    display: flex;
    justify-content: center;
    text-align: center;
}

.social a{
    margin: 0px 5px;
    color: rgb(0,0,0,0.7);
    font-size: 0.9rem;
}

.telefono{
    color: rgb(0,0,0,0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a:hover{
    color: #aacd6b;
    transition: all ease 0.3s;
}

/*Parte Barra navegacion*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.logo img{
    height: 30px;
}

.menu{
    display: flex;
}

.menu li {
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li a {
    color: sienna;
}

.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgb(0,0,0,0.7);
}


.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover,
.f-slider-btn:hover,
.banner-btn:hover{
    color: #aacd6b;
    transition: all ease 0.3s;
}

.right-menu #user-out:hover{
    color: tomato;
    transition: all ease 0.3s;
}

/*Parte etiqueta "ofertas"-------------------*/
.sale-lable{
    width: 60px;
    height: 17px;
    background-color: #aacd6b;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}

.sale-lable::after{
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #aacd6b;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.sale-lable-promo{
    width: 360px;
    height: 40px;
    background-color: tomato;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 1.2rem;
}


/*Parte Carrito de compras ---------------------------------------*/
.fa-shopping-cart{
    position: relative;
}

.num-cart-productos{
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #aacd6b;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

/*Parte Barra de busqueda xd ---------------------------------------*/
.search-bar{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgb(0,0,0,0.1);
    z-index: 101;    
    animation: search 0.5s;
}

.search-input{
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}

.search-cancel{
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}
/*Default barra oculta busqueda*/
.search-bar{
    display: none;
}
/*mostrar barra oculta busqueda*/
.search-bar-active{
    display: flex;

}

/*animacion mostrar barra busqueda*/
@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}

/*--Form para registro--------------------------------*/
.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}

.login-form,
.sign-up-form,
#logreg-forms,
#logreg-forms2{
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;

}

.login-form form,
.sign-up-form form,
#logreg-forms form,
#logreg-forms2 form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#logreg-forms strong,
#logreg-forms2 strong,
.login-form strong,
.sign-up-form strong{
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}

#logreg-forms2 input,
#logreg-forms input,
.login-form input,
.sign-up-form input{
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgb(0,0,0,0.1);
    outline: none;
    border-radius: 7px;
}

#logreg-forms input::placeholder,
#logreg-forms2 input::placeholder,
.login-form input::placeholder,
.sign-up-form input::placeholder{
    color:  rgb(0,0,0,0.5);
}

#logreg-forms2 input[type="submit"],
#logreg-forms input[type="submit"],
.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
    background-color: #aacd6b;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
}

.form-btns{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-btns a{
    color: #4d4d4d;
    font-size: 0.9rem;
}

.sign-up-btn{
    border-bottom: 1px solid #868686;
    line-height: 16px;
}

.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #869686;
}

.login-form,
.sign-up-form,
.form,#logreg-forms2{
    display: none;    
    animation: fade 0.5s;
}

.login-active,
.login-active .login-form,
#logreg-forms{
    display: flex;
    animation: fade 0.5s;
}

.sign-up-active,
.sign-up-active .sign-up-form{
    display: flex;
    animation: fade 0.5s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*otro login*/
/*------------ Carrousel completo------------------------------------------------*/

.full-slider-box,
.banner-slider-box{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.f-slide-1{
    background-image: url(../img/banner1-promo.png);
}
.f-slide-2{
    background-image: url(../img/banner3-promo.jpg);
}
.f-slide-3{
    background-image: url(../img/banner4-promo.png);
}
.f-slide-4{
    background-image: url(../img/banner6-promo.jpg);
}
.slider-text-container,
.banner-text-container{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text,
.banner-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.f-slider-text strong,
.banner-text strong{
    color: #333333;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.f-slider-text strong,.otrocolor{
    color: #3c4133;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.f-slider-text span,
.banner-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
}

.f-slider-btn,
.banner-btn{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    text-align: center;
}

.f-slider-text strong font,
.banner-text strong font{
    color: tomato;
}

.font-code{
    color: tomato;
}

/*Seccion destacados------------------------------------------------------------*/
.feature-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-heading h2,
.arrival-heading strong{
    font-size: 1.5rem;
    color: #1b1919;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}

.feature-box{
    width: 155px;
    height: 155px;
    margin: 0px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.feature-box a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item span{
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
    color: #444444;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#autoWidth{
    display: flex;
    justify-content: center;
    margin: 10px auto 40px auto;
}

/* seccion ............---------------Nuevos en camino*/

.arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}

.arrival-heading p{
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}

.product-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
    
}

.product-img{
    width: 200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
    
    background-color: antiquewhite;
}

.p-name{
    color: #727272;
}

.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}

.product-box:hover{
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
}

.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
    display: none;
    animation: fade 0.5s;
}

.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}

.product-box:hover .add-cart{
    display: flex;
}

.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------------seccion ventas.........*/
.sale{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;

}

.sale-box{
    width: 280px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    flex-grow: 0.5;
}

.sale-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
}

.sale-text{
    position: absolute;
    left: 20%;
    top: 50%;
    transform:  translate(-20%,-50%);
    display: flex;
    flex-direction: column;
}

.sale-box a{
    color: sandybrown;
}

.drop-shadow {
    filter: drop-shadow(0 0 1px #000)
    drop-shadow(1px 1px 0 #000)
    drop-shadow(-1px 1px 0 #000)
    drop-shadow(1px -1px 0 #000);
   }


.sale-text strong{
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    line-height: 23px;
}

/*Banner de promocion 2-----------------------*/
.banner-box{
    height: 40vh;
    margin: 20px 0px;
}

/*servicios y footer*/

.services{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.services-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 250px;
    padding: 20px;
    margin: 15px;
    flex-grow: 0.7;
}
.services-box i{
    color: #0b9d8a;
    font-size: 2rem;
    margin: 15px;
}
.services-box span{
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.services-box p{
    color: #878787;
    margin: 0px;
    font-size: 0.9rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #141611;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #1c1f18;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 3px;
    color: #9fc658;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #3c4133;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #94c045;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top h4::before, #footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
  }
  
  #footer .footer-top h4::before {
    right: 0;
    background: #3c4133;
  }
  
  #footer .footer-top h4::after {
    background: #94c045;
    width: 60px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 0 0 15px 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #94c045;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    border-radius: 4px 0 0 4px;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #94c045;
    border: 0;
    border-radius: 0 4px 4px 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #789d35;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }

  /*nav var estatica*/
  .fix-nav{
      width: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: #ffffff;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
      z-index: 102;
  }

  .toggle{
      display: none;
  }


  /*Responsivo*/
  @media(max-width:1010px){
      nav{
          position: relative;
      }
      .navigation{
          height: 80px;
      }
      .fix-nav{
          height: 80px;
      }
      .menu{
          position: absolute;
          top: 110px;
          left: 0px;
          background-color: #ffffff;
          border-bottom: 4px solid #0b9d8a;
          width: 100%;
          padding: 0px;
          margin: 0px;
          z-index: 102;
          flex-direction: column;
          display: none;
      }
      .fix-nav .menu{
          top: 80px;
      }
      .menu li{
          width: 100%;
          margin: 0px;
          padding: 0px;
      }

      .navigation .menu li a {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          margin: 0px;
          padding: 25px;
          border: 1px solid rgba(0,0,0,0.3);
      }

      .sale-lable{
          display: none;
      }

      .toggle{
          display: block;
      }
      .toggle::before{
          content: '\f0c9';
          font-family:  fontAwesome;
          line-height: 30px;
          z-index: 1;
          cursor: pointer;
      }

      .toggle.active::before{
          content: '\f00d';
      }
      .navigation.active .menu{
          display: block;
      }
      .full-slider-box{
          height: 45vh;
      }
      .f-slider-text span,
    .banner-text span{
        font-size: 0.9rem;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 2rem;
        line-height: 40px;
    }
    .search-input{
        height: 60px;
    }
    .search-input input,
    .search-cancel{
        font-size: 1.4rem;
    }
    .sale-box{
        height: 200px;
    }
}

@media(max-width:600px){
    .navigation{
        padding: 10px;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 1.2rem;
        line-height: 25px;
    }
    .full-slider-box,
    .banner-box{
        height: 30vh;
    }
    .f-slider-text span,
    .banner-text span{
        font-size: 0.8rem;
    }
    .f-slider-btn,
    .banner-btn{
        width:120px;
        height: 40px;
        font-size: 0.8rem;
        text-align: center;
    }
    .feature-heading h2{
        font-size: 1.2rem;
    }
    .feature-box{
        width:120px;
        height: 120px;
    }
    .new-arrival strong,
    .feature-heading strong{
        font-size: 1.2rem;
    }
    .new-arrival p,
    .feature-heading p{
        font-size: 0.8rem;
        text-align: center;
    }
    .sale-box{
        width:100%;
        height: 180px;
    }
    .sale{
        width: 100%;
    }
    .services{
        width:100%;
    }
    .services-box{
        width:100%;
    }
    .copyright{
        margin: 20px 0px;
        text-align: center;
    }
    .subscribe{
        width:100%;
    }
    .subscribe form{
        flex-wrap: nowrap;
        display: flex;
        width:100%;
    }
    .subscribe input{
        width:100%;
        flex-grow: 1;
    }
    .login-form,
    .sign-up-form{
        width:90%;
    }
}

/**********CART********/

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-cancel {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

/**/
.cart__icon {
    position: relative;
    cursor: pointer;
  }
  
  .cart__icon h2 {
    font-weight: 700;
    color: var(--orange);
  }
  
  .cart__icon span {
    position: absolute;
    top: -1rem;
    right: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warn);
    color: var(--white);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
  }
  .cart__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 2;
  }
  
  .cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 60%;
    height: 80%;
    padding: 1.6rem;
    border-radius: 2rem;
    z-index: 3;
    overflow-y: scroll;
    background-color: var(--grey2);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
  }
  
  .cart.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  
  .cart__overlay.show {
    visibility: visible;
  }
  
  .close__cart {
    cursor: pointer;
  }
  
  .close__cart svg {
    fill: var(--black);
    transition: all 300ms ease-in-out;
  }
  
  .close__cart:hover svg {
    fill: var(--warn);
  }
  
  .cart svg {
    width: 1.8rem;
    height: 1.8rem;
  }
  
  .cart h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .cart__item svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--orange);
  }
  
  .cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 70%;
    margin: 2rem auto;
  }
  
  .cart__item div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart__item div span {
    cursor: pointer;
  }
  
  .cart__item img {
    width: 9.5rem;
    height: 9.5rem;
  }
  
  .cart__item h3 {
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  
  .cart__item .price {
    color: var(--orange);
    font-weight: 700;
  }
  
  .cart__item p {
    font-weight: 700;
  }
  
  .cart__item .remove__item {
    cursor: pointer;
  }
  
  .cart__item .remove__item svg {
    fill: var(--warn);
  }
  
  @media only screen and (max-width: 1350px) {
    .cart__item {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 996px) {
    .cart__item {
      grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    }
  
    .cart__item h3 {
      font-size: 1.7rem;
    }
  
    .cart__item .remove__item svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  
    .cart__item img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
  
  .cart__footer {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .cart__footer h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .cart__footer .btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    background-color: var(--orange);
    border: none;
    margin-top: 2rem;
  }
  
  .cart__footer .btn:focus {
    outline: none;
  }
  
  @media only screen and (max-width: 567px) {
    .cart {
      width: 100%;
      height: 100%;
      border-radius: 0rem;
    }
  
    .cart__item h3 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  
    .btn {
      padding: 0.8rem 1.5rem;
      font-size: 1.6rem;
    }
  }