@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.05);
    z-index: 100;
}

.redes-sociales{
    height: 40px;
    border: 1px solid rgb(0,0,0,0.05);
    display: flex;
    justify-content: center;
    text-align: center;
}

.social a{
    margin: 0px, 5px;
    color: rgb(0,0,0,0.7);
    font-size: 0.9rem;
}

.telefono{
    color: rgb(0,0,0,0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a:hover{
    color: #aacd6b;
    transition: all ease 0.3s;
}

.navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.logo img{
    height: 30px;
}

.menu{
    display: flex;
}

.menu li {
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li a {
    color: sienna;
}

.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgb(0,0,0,0.7);
}

.menu a:hover,
.right-menu a:hover,
.search-cancel:hover{
    color: #aacd6b;
    transition: all ease 0.3s;
}

.sale-lable{
    width: 60px;
    height: 17px;
    background-color: seagreen;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}

.sale-lable::after{
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid color #aacd6b;
    border-right: 5px solid color transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.fa-shopping-cart{
    position: relative;
}

.num-cart-productos{
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #aacd6b;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.search-bar{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgb(0,0,0,0.1);
    z-index: 101;    
    animation: search 0.5s;
}

.search-input{
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}

.search-cancel{
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}
/*Default barra oculta*/
.search-bar{
    display: none;
}
/*mostrar barra oculta*/
.search-bar-active{
    display: flex;

}

@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}